# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/Arc Engine/*.opensdf
/Arc Engine/*.sdf

/Arc Engine/*.suo

/Arc Engine/Arc Engine/Arc/Debug/*.obj
/Arc Engine/Arc Engine/Arc/Debug/*.log
/Arc Engine/Arc Engine/Arc/Debug/Arc Engine.lastbuildstate
/Arc Engine/Arc Engine/Arc/Debug/CL.read.1.tlog
/Arc Engine/Arc Engine/Arc/Debug/CL.write.1.tlog
/Arc Engine/Arc Engine/Arc/Debug/Lib-link.read.1.tlog
/Arc Engine/Arc Engine/Arc/Debug/Lib-link.write.1.tlog
/Arc Engine/Arc Engine/Arc/Debug/cl.command.1.tlog
/Arc Engine/Arc Engine/Arc/Debug/lib.command.1.tlog
/Arc Engine/Arc Engine/Arc/Debug/vc110.idb
/Arc Engine/Arc Engine/Arc/Debug/vc110.pdb
/Arc Engine/Debug/Arc Testing.exe
/Arc Engine/Debug/Arc Testing.ilk
/Arc Engine/Debug/Arc Testing.pdb
/Arc Engine/Debug/stderr.txt
/Arc Engine/Debug/stdout.txt
/Arc Testing/Debug/Arc Testing.lastbuildstate
/Arc Testing/Debug/Arc Testing.log
/Arc Testing/Debug/Ball.obj
/Arc Testing/Debug/CL.read.1.tlog
/Arc Testing/Debug/CL.write.1.tlog
/Arc Testing/Debug/Main.obj
/Arc Testing/Debug/TestApp.obj
/Arc Testing/Debug/TestUnit.obj
/Arc Testing/Debug/Wall.obj
/Arc Testing/Debug/cl.command.1.tlog
/Arc Testing/Debug/link-cvtres.read.1.tlog
/Arc Testing/Debug/link-cvtres.write.1.tlog
/Arc Testing/Debug/link-rc.read.1.tlog
/Arc Testing/Debug/link-rc.write.1.tlog
/Arc Testing/Debug/link.command.1.tlog
/Arc Testing/Debug/link.read.1.tlog
/Arc Testing/Debug/link.write.1.tlog
/Arc Testing/Debug/vc110.idb
/Arc Testing/Debug/vc110.pdb

/Arc Engine/Arc Engine/Arc/Debug/Arc Engine.tlog/Arc Engine.lastbuildstate
/Arc Engine/Arc Engine/Arc/Debug/Arc Engine.tlog/CL.read.1.tlog
/Arc Engine/Arc Engine/Arc/Debug/Arc Engine.tlog/CL.write.1.tlog
/Arc Engine/Arc Engine/Arc/Debug/Arc Engine.tlog/cl.command.1.tlog
/Arc Engine/Arc Engine/Arc/Debug/Arc Engine.tlog/unsuccessfulbuild
/Arc Engine/Arc Engine/Arc/Debug/Lib.read.1.tlog
/Arc Engine/Arc Engine/Arc/Debug/Lib.write.1.tlog
/Arc Engine/Arc Engine/Arc/Debug/vc120.idb
/Arc Engine/Arc Engine/Arc/Debug/vc120.pdb
/Arc Testing/Debug/ResourceManager.obj
/Arc Testing/Debug/link.1460-cvtres.read.1.tlog
/Arc Testing/Debug/link.1460-cvtres.write.1.tlog
/Arc Testing/Debug/link.1460-rc.read.1.tlog
/Arc Testing/Debug/link.1460-rc.write.1.tlog
/Arc Testing/Debug/link.1460.read.1.tlog
/Arc Testing/Debug/link.1460.write.1.tlog
/Arc Testing/Debug/link.4936-cvtres.read.1.tlog
/Arc Testing/Debug/link.4936-cvtres.write.1.tlog
/Arc Testing/Debug/link.4936-rc.read.1.tlog
/Arc Testing/Debug/link.4936-rc.write.1.tlog
/Arc Testing/Debug/link.4936.read.1.tlog
/Arc Testing/Debug/link.4936.write.1.tlog
/Arc Testing/Debug/link.5208-cvtres.read.1.tlog
/Arc Testing/Debug/link.5208-cvtres.write.1.tlog
/Arc Testing/Debug/link.5208-rc.read.1.tlog
/Arc Testing/Debug/link.5208-rc.write.1.tlog
/Arc Testing/Debug/link.5208.read.1.tlog
/Arc Testing/Debug/link.5208.write.1.tlog

/Arc Testing/Debug/*.tlog

/Arc Testing/Debug/Duck.obj

/Arc Testing/Debug/*.obj
/Arc Testing/Debug/*.obj
/Arc Testing/Debug/*.obj
/Arc Testing/Debug/*.obj

/Arc Engine/*.tss
/Arc Engine/Arc Engine/Arc/Release/*.obj

/Arc Testing/*.sdf

/Arc Testing/Debug/*.unsuccessfulbuild

/Arc Engine/Arc Engine/Arc/Debug/*.unsuccessfulbuild
/Arc Engine/Debug
/*.sdf

/*.suo

/Debug/*.ilk

/Debug/stderr.txt
/Debug/stdout.txt

/Debug/*.pdb

/Debug/*.exe

/Arc/Debug/*.obj

/Arc/Arc/Debug/*.obj

*.suo
*.idb

*.tlog

*.pdb

*.lastbuildstate

*.log
